* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
}
body{
    background: linear-gradient(135deg, #1da1f2, #ff4081);
    display: flex;
    height: 100vh;
    padding: 20px;
    color: #fff;
    display: flex;
   
}


html {
    font-size: 62.5%;
}

h1 {
    font-size: 3.6rem;
    margin-inline: 10rem;
}

.usuario {
    margin-inline: 2.5rem;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    size: 10cm;
    font-size: 1.2rem;
    
}

.backgroundAnimation {
    background: linear-gradient(135deg, #1da1f2, #ff4081); 
    background: linear-gradient(135deg, #ff4081, #fbc531); 
    background: linear-gradient(135deg, #fbc531, #1da1f2); 
}



.botao-sair {
    margin-inline: 23rem;
    color: white;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
   border-width: -10rem -10rem;
  

    
}

p, a {
  font-size: 1.6rem;
}

header {
    background-color: rgb(22, 10, 39);
    width: 50rem;
    height: 100vh;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right:3px rgb(106, 74, 248);
    margin-bottom: 4rem;


    


}

h1, area-do-usuario, botão-sair {
    margin-inline: 4rem;
    align-items: center;
    background-color: rgb(22, 10, 39);
    font-size: 3.9;



}


.logout:hover{
    transform: translate(0.9);
    background-color: aliceblue;



}

li {
    font-size: 3rem;
    padding: 2rem 10rem;
    align-items: center;

}
ul hover {  
    background-color: rgb(112, 115, 255);
    


}




li{
    list-style: none;


}

ul a{
    color: white;
    text-decoration: none;
 
}

ul a:hover{
    background-color: rgb(41, 24, 82);
    box-shadow: 0 0 10px rgb(41, 24, 82);
    padding-left: 10rem;

}

img {
    width: 50px;
    border-radius: 50px;
    border-color: #fff;



    }
    
 textarea {
        resize: none;
        width: 109rem;
        padding: 2rem;
        background-color: transparent;
        color: white;
        border-radius: 3rem;
        border: 3px solid white;

    }
         textarea:focus{
            outline: none;
            box-shadow: 0px 0px 10px white;
        }

.area-de-publicacao{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.area-de-publicacao{
    width: fit-content;
    align-self: flex-end;
    padding: 0.5rem 0.2rem;

    transition: .2s;
    cursor: pointer;
}
        
.area-de-publicacao button:hover {
    background-color: rgb(111, 64, 165);

}

ul p {
    font-size: 2.9rem;
   margin-left: 10rem;
    color: rgb(255, 255, 255);
    line-height: 10rem;

}

ul h5 {
    font-size: 1.3rem;
    line-height: 0.9rem;
   
}

ul h4 {
    font-size: 2.3rem;
}

button {
    border-bottom: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-width: 0.4rem;
}
ul div {
    background-color: rgb(88, 28, 219);
    border-radius: 2rem;
    margin-right: 31rem;
    
}


header li:hover {
    transform: translate(0.1);
    background-color: rgb(106, 72, 255);
    transform: translateX(1rem) scale(0.9);


}